body{
    font-family: 'Poppins',
        sans-serif;
        background-color: rgb(255, 230, 197);
}
h1{
    font-size: 44px;
}
h2{
    font-weight: 600;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
section {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.grid{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card{
    background-color: aquamarine;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 8px;
}
.widget-weather{
    max-width: 300px;
    max-height: 100%;
    font-size: 14px;
}
.date-header{
    background-color: blanchedalmond;
    text-align: left;
    font-size: 18px;
    line-height: 0.5;
}
.city{
    font-size: 16px;
    font-weight: 500;
}
.temperature{
    font-size: 44px;
    text-align: right;
    margin: 5px 5px;
    font-weight: 600;
}